.product__image {
  max-height: 12em;
  min-height: 12em;
}

.product__title {
  cursor: pointer;
  margin-top: 0.5rem;
}

.product__link {
  text-decoration: none;
}

.linkClass {
  text-decoration: none;
}

.orderHover:hover {
  background-color: rgba(128, 128, 128, 0.055) !important;
}
